<% include ../includes/header.ejs %>

    <div>
        <div class ="container min-container">
           
           <h2 class="basic-title">Listagem de livros</h2>
           <table class="table table-condensed table-bordered table-striped table-hover">
               <thead>
                   <tr>
                       <td>Titulo</td>
                       <td>Preço</td>
                       <td>Descriçao</td>
                   </tr>
               </thead>
               <tbody>
                    <% for(i=0; i<lista.length; i++) { %>
                    <tr>
                        </div>

                        <% include ../includes/footer.ejs %><td><%= lista[i].titulo %></td>
                        <td><%= lista[i].preco %></td>
                        <td><%= lista[i].descricao %></td>
                    </tr>  
                    <% } %>
               </tbody>
           </table>
           
           <a href="/produtos/form" class="btn btn-success"><span class="glyphicon glyphicon-plus-sign"></span> Novo livro</a>
        </div>
    </div>

<% include ../includes/footer.ejs %>

